{% extends "layout.html" %}
{% block content %}
  <div class="content-section">
    <form method=GET action="{{ url_for('search') }}">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Search Now</legend>
        <div class="form-group">
          {{ form.search.label(class="form-control-label") }}
          {{ form.search(class="form-control form-control-lg") }}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
    </form>
  </div>
  {% if results %}
  {%for movie in results%}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('movie_landing', name=movie.title) }}">{{ movie.title }}</a>
      </div>
      <p class="article-content">{{ movie.description }}</p>
    </div>
  </article>
  {%endfor%}
  {% endif %}
{% endblock content %}
